In [1]:
import pandas as pd

In [25]:
def load_listings(filename):
  cols = ['host_id', 'neighbourhood_group_cleansed', 'host_listings_count', 'price']
  myquery = "neighbourhood_group_cleansed in ['Eixample', 'Gràcia', 'Horta-Guinardó']"
  bcn_listings = pd.read_csv(filename)[cols].query(myquery)
  bcn_listings['price'] = bcn_listings['price'].str.replace("$", "", regex=False)
  bcn_listings['price'] = bcn_listings['price'].str.replace(",", "", regex=False)
  bcn_listings['price'] = bcn_listings['price'].astype(float)
  bcn_listings['price'] = bcn_listings['price'].fillna(0)
  bcn_listings = bcn_listings.rename(columns={
  'host_id': 'Host ID',
  'neighbourhood_group_cleansed': 'District', 
  'price': 'Price', 
  'host_listings_count': 'Listings'
  })
  bcn_unique_hosts = bcn_listings.drop_duplicates(subset='Host ID')
  bcn_unique_hosts = bcn_unique_hosts.groupby('District')['Listings'].sum()
  bcn_price_district1 = round(bcn_listings.groupby('District')['Price'].mean(), 2)
  bcn_listings = pd.concat([bcn_unique_hosts, bcn_price_district1], axis=1)
  return bcn_listings

### First Dataset: Barcelona 12-12-2024

In [26]:
bcn_listings1 = load_listings("../data/raw/listings12-12-2024.csv.gz")

In [27]:
bcn_listings1

                Listings   Price
District
Eixample         15238.0  119.42
Gràcia            4505.0   86.12
Horta-Guinardó     779.0   67.15

### Second Dataset: Barcelona 12-06-2025

In [28]:
bcn_listings2 = load_listings("../data/raw/listings12-06-2025.csv.gz")

In [29]:
bcn_listings2

                Listings   Price
District
Eixample         15244.0  222.27
Gràcia            4976.0  156.79
Horta-Guinardó    1245.0  117.03

### Third Dataset: Barcelona 14-09-2025

In [30]:
bcn_listings3 = load_listings("../data/raw/listings14-09-2025.csv.gz")

In [31]:
bcn_listings3

                Listings   Price
District
Eixample         15685.0  175.70
Gràcia            4436.0  138.79
Horta-Guinardó    1688.0  117.87